.main {
  margin: 0 auto;
  padding: 1rem 0;
  min-height: 100vh;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.hero {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 500px;
  align-items: center;
  justify-items: center;
  background-color: #0a99ff;
  padding: 5rem;
}

.heroBookContainer {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 12px;
}

.h1,
.heroH2,
.heroText {
  color: #ffffff;
  text-align: center;
}
.heroText {
  padding: 2% 10%;
}
.heroImageContainer {
  width: 60%;
  height: 450px;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.source {
  padding-top: 0 !important;
  margin-top: 0 !important;
}
.heroImage {
  width: 100%;
  border-radius: 24px;
  padding: 2% 2% 0 2%;
}

.rowFlex {
  display: flex;
  flex-direction: row;
  padding: 2rem 5rem;
  width: 100%;
  justify-content: space-between;
  column-gap: 12px;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .hero {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 500px;
    align-items: center;
    justify-items: center;
    background-color: #0a99ff;
    padding: 5rem;
  }

  .heroBookContainer {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .heroImageContainer {
    height: 350px;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .hero {
    flex-direction: column;
    padding: 0% 0% 5% 0%;
    min-height: 0;
    margin-bottom: 0;
  }
  .h1 {
    padding-top: 10%;
  }

  .heroBookContainer {
    width: 90%;
  }
  .heroImageContainer {
    width: 100%;
    height: 400px;
    padding-top: 5%;
  }

  .heroImage {
    height: 400px !important;
    width: 100%;
    border-radius: 0;
    padding: 0%;
  }
  .rowFlex {
    flex-direction: column;
    row-gap: 24px;
    padding-left: 5%;
    padding-right: 5%;
  }
}
